<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DomainJiffy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body style="background-image: url(/img/brushed-metal.jpg); background-size: 100% auto;">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-white icon-plus"></i>
            </a>
            <a class="brand" href="/" style="position: absolute;">
                <img src="http://placehold.it/70x70" title="Small DomainJiffy Logo"/>
            </a>

            <div class="nav-collapse collapse">
                <!--<ul class="nav pull-left">-->
                    <!--<li><a href="/" class="brand">DomainJiffy</a></li>-->
                <!--</ul>-->
                <ul class="nav pull-right">
                    <li><span class="brand">Tagline goes here...</span></li>
                    <li><a href="#"><img src="http://placehold.it/60x25" title="Like on Facebook"/></a></li>
                    <li><a href="#"><img src="http://placehold.it/60x25" title="Tweet on Twitter"/></a></li>
                    <li><a href="#"><img src="http://placehold.it/60x25" title="Other Social Media?"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" style="padding: 20px; text-align: center;">
            <br/>
            <img src="http://placehold.it/250x150" title="Big DomainJiffy Logo"/>
            <br/><br/>
            <div class="well">Extended tagline and/or descriptive instructions go here...</div>
        </div>
        <div class="span6" style="padding: 20px">
            <div class="row">
                <div class="span10 offset1">
                    Selected elements:
                    <div id="selectedElements">
                        <div class="ui-widget-content">
                            <div class="placeholder">Drag 1 or 2 elements here</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12" style="margin-top: 30px">
                    Available elements:
                    <div id="availableElements">
                        <div class="ui-widget-content">
                            <div id="exactWord" class="exactWord">Exact Word
                                <br>
                                <input type="text" name="exact"/>
                                <br> <span style="font-size: 75%">This is a
                  description</span>

                            </div>
                            <div id="synonyms">Synonyms
                                <br>
                                <input type="text" name="synonym"/>
                                <br> <span style="font-size: 75%">This is a
                  description</span>

                            </div>
                            <div id="nouns">Common Nouns
                                <br> <span style="font-size: 75%">This is a
                  description</span>

                            </div>
                            <div id="verbs">Common Verbs
                                <br> <span style="font-size: 75%">This is a
                  description</span>

                            </div>
                            <div id="adjectives">Common Adjectives
                                <br> <span style="font-size: 75%">This is a
                  description</span>

                            </div>
                            <div id="adverbs">Common Adverbs
                                <br> <span style="font-size: 75%">This is a
                  description</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12" style="margin-top: 30px; text-align: center;">
                    <a id="generateButton" class="btn" href="#">Generate</a>
                </div>
            </div>
            <div class="row">
                <div class="span12" style="margin-top: 30px; text-align: center;">
                    <div class="well">Output and additional instructions go here...</div>
                </div>
            </div>
        </div>
        <div class="span3" style="padding: 20px; text-align: center;">
            <div class="well" style="text-align: center">
                Ads and donation links go here...
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Jiffy Studios 2013</p>
    </footer>

</div>
<!-- /container -->

<script src="js/vendor/bootstrap.min.js"></script>
<script src='//code.jquery.com/jquery-1.9.1.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>
