<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>DomainJiffy - The most customizable generator for unique domain names</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap-3.0.0-rc1.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        body {
            padding-top: 100px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="/favicon.ico?v=2"/>
</head>

<body style="background: url(img/blue-stripe.png) slategrey; font-family: 'Open Sans', sans-serif;">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="brand" href="/" style="position: absolute;">
            <img src="img/jiffyman-square-70x64.png" style="background-color: ghostwhite"/>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><span class="navbar-brand" style="max-width: none; color: ghostwhite">The most customizable generator for unique domain names</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3" style="text-align: center;">
            <div style="height: 125px; color: white; text-align: center; vertical-align: middle;">
                <div style="line-height: 0.75em; box-sizing: content-box; font-family: 'Carrois Gothic SC', sans-serif; font-size: 300%; text-shadow: 0px 1px 0px #fff, -3px 5px 0px rgba(0,0,0,0.5);">
                    Domain
                </div>
                <div style="line-height: 0.75em; box-sizing: content-box; font-family: 'Racing Sans One', cursive; font-size: 500%; text-shadow: 0px 3px 0px #fff, -9px 8px 0px rgba(0,0,0,0.5);">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jiffy
                </div>
            </div>
            <div class="well" style="background: ghostwhite">
                Extended tagline and/or descriptive instructions go here...
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>
        <div class="col-lg-6" style="padding-left: 20px; padding-right: 20px;">
            <div class="row">
                <div class="col-lg-5 col-offset-4" style="text-align: center">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdomainjiffy.com&amp;width=75&amp;height=46&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=362954793832203" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:46px; float: left" allowTransparency="true"></iframe>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://domainjiffy.com" data-text="Domain Jiffy: The most customizable generator for unique domain names">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="selectedElements">
                        <div class="ui-widget-content" style="background: #dddddd">
                            <div class="placeholder">Drag 1 or 2 elements here</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-top: 30px">
                    <div style="color: #ffffff; text-align: center;">Drag elements into the box above. Drag within the
                        box to sort them, or drag out of the box to remove them.
                    </div>
                    <div id="availableElements">
                        <div class="ui-widget-content" style="background: black">

                            <div id="exactword" class="exactword" style="width: 220px">Exact Word
                                <br>
                                <input type="text" name="exactword" placeholder="Enter a word..."/>
                                <br> <span style="font-size: 75%">Use the word typed into this text box, as-is.</span>

                            </div>
                            <div id="similarwords" style="width: 220px">Similar Words
                                <br>
                                <input type="text" name="similarwords" placeholder="Enter a word..."/>
                                <br> <span style="font-size: 75%">Use the word typed into this text box, as well as words with similar meanings.</span>

                            </div>
                            <div id="nouns" style="width: 200px">Common Nouns
                                <br> <span style="font-size: 75%">Selections from the most frequently-used nouns.</span>

                            </div>
                            <div id="verbs" style="width: 200px">Common Verbs
                                <br> <span style="font-size: 75%">Selections from the most frequently-used verbs.</span>

                            </div>
                            <div id="adjectives" style="width: 220px">Common Adjectives
                                <br> <span style="font-size: 75%">Selections from the most frequently-used adjectives.</span>

                            </div>
                            <div id="adverbs" style="width: 200px">Common Adverbs
                                <br> <span style="font-size: 75%">Selections from the most frequently-used adverbs.</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-top: 30px; text-align: center;">
                    <button id="generateButton" type="button" class="btn btn-default">Generate Domain Name Ideas
                    </button>
                </div>
            </div>
            <div id="generatedResults" class="row" style="display: none">
                <div class="col-lg-12" style="margin-top: 30px; text-align: center;">
                    <div class="well" style="background: ghostwhite">
                        Output and additional instructions go here...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" style="text-align: center;">
            <div style="height: 125px"></div>
            <div class="well" style="background: ghostwhite; text-align: center">
                Ads and donation links go here...
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>
    </div>

    <hr>

    <footer style="color: ghostwhite; font-size: 75%">
        <p>&copy; 2013 <a href="http://jiffystudios.com" style="color: ghostwhite;">Jiffy Studios<a/><br/><a href="info@jiffystudios.com" style="color: ghostwhite;">Contact</a></p>
    </footer>
</div>

<script src="js/vendor/jquery-1.9.1.min.js"></script>
<script src="js/vendor/bootstrap-3.0.0-rc1.min.js"></script>
<script src="js/vendor/jquery-ui-1.10.3.min.js"></script>
<script src="js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="js/main.min.js"></script>
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>
