#selectedElements div.ui-widget-content, #availableElements div.ui-widget-content {
    text-align: center;
}

#selectedElements div.ui-widget-content div, #availableElements div.ui-widget-content div {
    margin: 10px;
}

.placeholder {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* IE */
}

.activatedElement {
    transform: scale(0.75, 0.75);
    /* Firefox and old Opera */
    -webkit-transform: scale(0.75, 0.75);
    /* Chrome, Safari, and newer Opera */
    -ms-transform: scale(0.75, 0.75);
    /* IE */
    transition: width 1s, height 1s, transform 1s;
    /* IE, Firefox, and old Opera */
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Chrome, Safari, and newer Opera*/
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* IE */
}

/* Begin process indicator (http://cssload.net/) */
div.progressIndicator {
    text-align: center;
}

.bubblingG {
    text-align: center;
    width: 80px;
    height: 50px;
    margin: 0 auto;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: #000000;
    -moz-border-radius: 50px;
    -moz-animation: bubblingG 0.6s infinite alternate;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 0.6s infinite alternate;
    -ms-border-radius: 50px;
    -ms-animation: bubblingG 0.6s infinite alternate;
    -o-border-radius: 50px;
    -o-animation: bubblingG 0.6s infinite alternate;
    border-radius: 50px;
    animation: bubblingG 0.6s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.18s;
    -webkit-animation-delay: 0.18s;
    -ms-animation-delay: 0.18s;
    -o-animation-delay: 0.18s;
    animation-delay: 0.18s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.36s;
    -webkit-animation-delay: 0.36s;
    -ms-animation-delay: 0.36s;
    -o-animation-delay: 0.36s;
    animation-delay: 0.36s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: #000000;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        -moz-transform: translateY(-21px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: #000000;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        -webkit-transform: translateY(-21px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: #000000;
        -ms-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        -ms-transform: translateY(-21px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: #000000;
        -o-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        -o-transform: translateY(-21px);
    }

}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: #000000;
        transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        transform: translateY(-21px);
    }
}

/* End process indicator */
